html, body {
	margin: 0;
	font-size: 14px;
	overflow: hidden;
}

body {
	background-color: lightgrey;
}

footer {
	color: white;
	background-color: darkgrey;
	text-align: center;
	height: 50px;
	padding: 5px;
}

#strokeWidth {
	width: 35px;
	padding-top: 5px;
	font-size: 15px;
}

#coords {
	visibility:hidden;
	margin: 5px 10%;
}

#canvas {
	border: 1px solid #c3c3c3;
	position: absolute;
}
#svg {
	border: 1px solid #c3c3c3;
	background-color: white;
}

#main {
	width: 720px;
	height: 450px;
	margin: auto;
	display: block;
}

#set {
	color: white;
	background-color: darkgrey;
	padding: 15px 15px 5px 15px;
	align-items: flex-end;
	margin-bottom: 5px;
}

#set div {
	display: inline;
	margin-left: 5%;
}

#stroke {
	align-items: flex-end;
}